nav{
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgb(0, 0, 0,0.2);
  background: white;
  position: sticky;
  top: 0;
  width: 100%;
  overflow-x: none;
  z-index: 10;
}
.nav-left .menu{
  width: 22px;
  margin-left: 25px;
}
.nav-left .logo{
  width: 130px;
  margin-left: 10px;
}
.nav-middle .search{
 border: 1px solid #ccc;
 margin-right:10px ;
 padding: 8px 12px;
 border-radius: 25px;
}
.nav-middle .search-icon{
  width: 20px;
}
.nav-middle .search input {
  width: 400px;
 border: none;
 outline: 0;
 background: transparent;
}
.nav-right img{
  width: 30px;
  margin-right: 25px;
}
.nav-right .profile{
  width: 35px;
  border-radius: 50%;
}
.sigin{
  display: flex;
  padding: 4px;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
}
.sigin p{
  font-size: 18px;
  margin-right: 5px;
}
.user-actions {
  position: relative;
}

.profile-card {
  position: absolute;
  top: 50px;
  right: 0;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 200px;
  text-align: center;
  display: none;
}

.user-actions .profile-card {
  display: block;
}

.profile-image {
  width: 80px;
  height: 40px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.profile-username {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 4px;
}

.profile-button {
  background: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
}

.profile-button:hover {
  background: #0056b3;
}




@media (max-width:900px){
  .menu{
    display: none;
  }
  .nav-right img{
    display: none;
  }
  .nav-right .profile{
    display: block;
    width:30px
  }
  .nav-middle .search input{
    width: 100px;
  }
  .logo{
    width: 80px;
  }
}